.example-form {
  padding: 10%;
}

.example-full-width {
  width: 100%;
}

.header-text {
  font-weight: 400;
  font-size: 30px;
  margin-bottom: 30px;
  display: block;
}

.addition-text {
  text-align: center;
  margin-top: 20px;
  display: block;
}
