<form class="login-form" (submit)="login()" #loginForm="ngForm">
    <span class="header-text">Zaloguj się</span>
    <mat-form-field class="form-full-width" appearance="outline">
        <mat-label>Email</mat-label>
        <input [formControl]="email" matInput placeholder="Ex. pat@example.com" required>
        <mat-icon matSuffix style="margin-right: 4px;">email</mat-icon>
        <mat-error *ngIf="!email.valid">
            {{getErrorMessage()}}
        </mat-error>
    </mat-form-field>
    <mat-form-field class="form-full-width" appearance="outline">
        <mat-label>Hasło</mat-label>
        <input [type]="hidePassword ? 'password' : 'text'" [formControl]="password" matInput required>
        <button mat-icon-button matSuffix (click)="hidePassword = !hidePassword" tabindex="-1" [attr.aria-label]="'Hide password'"
            [attr.aria-pressed]="hidePassword">
            <mat-icon>{{hidePassword ? 'visibility_off' : 'visibility'}}</mat-icon>
        </button>
    </mat-form-field>
    <button mat-raised-button color="primary" type="submit" style="width: 100%!important;">Zaloguj</button>
    <span class="addition-text">Nie masz konta? <a [routerLink]="['/signup']">Zarejestruj się</a>
    </span>
</form>