<ng-container>
    <mat-grid-list cols="2" rowHeight="25">
        <mat-grid-tile>
            <mat-card>
                CARDS 1
            </mat-card>
    
        </mat-grid-tile>
        <mat-grid-tile>
            <mat-card>
                CARDS 2
            </mat-card>
    
        </mat-grid-tile>
        <mat-grid-tile>
            <mat-card>
                CARDS 3
            </mat-card>
    
        </mat-grid-tile>
        <mat-grid-tile>
            <mat-card>
                CARDS 4
            </mat-card>
    
        </mat-grid-tile>
        <!-- <mat-grid-tile>2</mat-grid-tile>
        <mat-grid-tile>3</mat-grid-tile>
        <mat-grid-tile>4</mat-grid-tile> -->
    </mat-grid-list>

</ng-container>