<ng-scrollbar>
  <div *ngIf="showPage && (items$ | async); let items" class="accounts-view" [@enterIn]>
    <div class="all-accounts-balance">
      {{ items | sumValue | currency:'PLN':'symbol-narrow'}}
    </div>

    <div>
      <div class="items">
        <div *ngFor="let item of items" class="item" [ngStyle]="{'background': item.payload.val()?.color}">
          <div>
            <div class="account-name">
              {{ item.payload.val()?.name }}
            </div>
            <div class="account-type">
              {{item.payload.val()?.type | accountType | uppercase}}
            </div>
          </div>
          <div class="account-balance">
            <!-- {{ 0 | currency:'PLN':'symbol-narrow'}} -->
            {{ (item.payload.val()?.debtType === DebtTypes.BorrowedFromSomeone ? '-' : "") + (item.payload.val()?.balance | currency:'PLN':'symbol-narrow')}}
          </div>
          <div class="action-buttons">
            <button mat-raised-button color="primary" type="button" title="Usuń konto"
              (click)="removeAccount(item.payload.key)">
              <mat-icon>delete</mat-icon>
            </button>
            <button mat-raised-button color="primary" type="button" title="Edytuj konto"
              (click)="editAccount(item.payload.key)">
              <mat-icon>edit</mat-icon>
            </button>
            <button mat-raised-button color="primary" type="button" title="Dodaj transakcję">
              <mat-icon>add</mat-icon>
            </button>
          </div>
        </div>
        <div *ngIf="items.length === 0">No results, try clearing filters</div>
      </div>

      <div class="manage-accounts-buttons">
        <button mat-raised-button color="primary" type="button" title="Dodaj konto" (click)="addAccount()">
          <mat-icon>add</mat-icon>
        </button>
        <button mat-raised-button color="primary" type="button" title="Przenieś środki" (click)="addAccount()">
          <mat-icon>sync_alt</mat-icon>
        </button>
      </div>

    </div>
    <div style="text-align: center;color: white; margin-top: 30px;">MENU - tabs picker</div>
  </div>
</ng-scrollbar>