@import "style-variables";
@include mat-core();

$money-manager-theme: mat-light-theme(
  (
    color: (
      primary: $primary,
      accent: $accent,
      warn: $warn,
    ),
  )
);

@include angular-material-theme($money-manager-theme);

html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

router-outlet + * {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 140px;
  overflow: auto;
}

//ngx-scrollbar overrides
ng-scrollbar {
  .ng-scroll-content {
    height: 100%;
  }

  .ng-scrollbar-wrapper {
    right: -10px !important;
    margin-right: 10px;
  }

  .ng-scroll-viewport {
    margin: 0 !important;
    .ng-scroll-content {
      display: flex;
    }
  }
}

.mat-checkbox {
  display: block !important;
}

.mat-dialog-container {
  border-radius: 15px !important;
}

.center-page {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100%;
  width: 100%;
}

.mat-datepicker-content-touch .mat-datepicker-content-container {
  width: 350px !important;
  height: auto !important;
}
