@use '~@angular/material' as mat;
@import "~@swimlane/ngx-datatable/themes/material.scss";
@import "style-variables";
@include mat.core();

$money-manager-theme: mat.define-light-theme(
  (
    color: (
      primary: $primary,
      accent: $accent,
      warn: $warn,
    ),
  )
);

@include mat.all-component-themes($money-manager-theme);

html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

router-outlet + * {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  overflow: auto;
}

router-outlet + mm-transactions, router-outlet + mm-accounts {
  bottom: 140px!important;
}


@media (max-height: 650px) {
  router-outlet + *:not(mm-accounts):not(mm-transactions) {
    bottom: 0 !important;


    .full-screen-form-wrapper {
      width: 100vw !important;

      .full-screen-form {
        max-height: calc(100vh - 70px) !important;
        height: 100vh !important;
        width: 100vw !important;
        border-radius: 0 !important;
        .form-scroll-content {
          max-height: calc(100vh - 277px) !important;
        }
      }
    }
  }
}

//ngx-scrollbar overrides
ng-scrollbar {
  .ng-scroll-content {
    height: 100%;
  }

  .ng-scrollbar-wrapper {
    right: -10px !important;
    margin-right: 10px;
  }

  .ng-scroll-viewport {
    margin: 0 !important;
    .ng-scroll-content {
      display: flex;
    }
  }
}

.mat-checkbox {
  display: block !important;
}

.mat-dialog-content {
  max-height: 80vh !important;
}

.mat-dialog-container {
  border-radius: 15px !important;
}

.form-full-width {
  width: 100%;
}

.header-text {
  font-weight: 400;
  font-size: 30px;
  margin-bottom: 30px;
  display: block;
}

.center-page {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100%;
  width: 100%;

  .full-screen-form-wrapper {
    margin: auto;
    width: 600px;
    display: flex;

    > .full-screen-form {
      mat-form-field {
        width: 100%;
        display: block;
        height: 70px;
        &.date-picker {
          cursor: pointer;
          input {
            cursor: pointer;
          }
        }
      }

      width: 100%;
      padding: 35px;
      border-radius: 20px;
      background: white;
      overflow: auto;
      max-height: calc(100vh - 210px);
      opacity: 0.9;
      box-shadow: black 0px 0px 21px -1px;
    }
  }

  .full-screen-page-wrapper {
    margin: 0 auto;
    display: flex;

    > .full-screen-page {
      margin: 40px 0;
      display: grid;
    }
  }
}

.cursor-pointer * {
  cursor: pointer;
}

.empty-row {
  color: white !important;
  text-align: center !important;
}

.mat-datepicker-content-touch .mat-datepicker-content-container {
  width: 350px !important;
  height: auto !important;
}

.transactions-table {
  .mat-table thead,
  .mat-table tbody,
  .mat-table tfoot,
  mat-header-row,
  mat-row,
  mat-footer-row,
  [mat-header-row],
  [mat-row],
  [mat-footer-row],
  .mat-table-sticky {
    background: none;
  }

  .mat-select-arrow,
  .mat-select-value {
    color: white;
  }
}

.transactions-table,
.ngx-datatable,
.ngx-datatable > .visible {
  height: 100%;

  .datatable-body {
    height: calc(100% - 100px) !important;
    overflow: auto;
  }

  .datatable-row-center.datatable-row-group,
  .datatable-row-center {
    width: 100% !important;
  }
}

.datatable-body-row,
.datatable-scroll,
.datatable-header-inner {
  width: 100% !important;
}
.datatable-body-cell,
.datatable-header-cell {
  flex-grow: 1 !important;
  color: white !important;
  margin: auto 0;
}

.datatable-header-cell {
  background: linear-gradient(180deg, rgba(0, 0, 0, 0.25), transparent 110%) !important;
}

.transactions-table > .ngx-datatable {
  background: rgba(0, 0, 0, 0.35);
  border-radius: 14px;
}

.datatable-footer {
  color: white !important;
  background: linear-gradient(0deg, rgba(0, 0, 0, 0.35), transparent 110%) !important;
}

// .ngx-datatable {
::-webkit-scrollbar {
  width: 6px;
}
::-webkit-scrollbar-thumb,
::-webkit-scrollbar-thumb:window-inactive {
  border-radius: 10px;
  background: rgba(0, 0, 0, 0.4) !important;
}
// }

.ngx-datatable.material:not(.cell-selection) .datatable-body-row:hover,
.ngx-datatable.material:not(.cell-selection) .datatable-body-row:hover .datatable-row-group {
  background: rgba(0, 0, 0, 0.35);
  cursor: pointer;
}

.datatable-body-cell-label {
  white-space: nowrap;
}

.datatable-body-row.active,
.datatable-body-row.active .datatable-row-group {
  background: rgba(0, 0, 0, 0.35) !important;
}

.form-scroll-content > :last-child {
  mat-form-field {
    height: 55px !important;
    .mat-form-field-wrapper {
      padding-bottom: 0 !important;
    }
  }
}
