<div class="center-page">
  <div class="transactions-page-wrapper">
    <div *ngIf="showPage && accounts && transactions" class="transactions-cards-wrapper" [@showHideMainPage]>
      <div class="filter-items">
        <div mat-raised-button class="filter-item" *ngFor="let filterItem of transactionFilters">
          <button mat-button class="filter-button" [ngStyle]="{'border-top-right-radius': filterItem.visibleName ? 0 : '4px',
          'border-bottom-right-radius': filterItem.visibleName ? 0 : '4px'}" color="primary" type="button"
            (click)="openFilterDialog(filterItem)">
            {{filterItem.visibleName ?? filterItem.name}}</button>
          <button *ngIf="filterItem.visibleName" mat-button class="clear-button">
            <mat-icon (click)="filterItem.visibleName = filterItem.filterFn = undefined; filterItems()">clear</mat-icon>
          </button>
        </div>
        <div *ngIf="visibleFiltersLength > 0" mat-raised-button class="filter-item">
          <button mat-button class="filter-button" color="accent" type="button"
            (click)="clearFilters()">
            &lt;Wyczyść filtry&gt;</button>
        </div>
      </div>

      <div class="items-wrapper">
        <div class="transactions-table">
          <ngx-datatable class="material" [rows]="transactions" [columnMode]="ColumnMode.flex"
            [sortType]="SortType.multi" [sorts]="[{prop: 'transactionDate', dir: 'desc'}]" [headerHeight]="50"
            [footerHeight]="50" [rowHeight]="'auto'" (activate)="editTransaction($event)"
            [messages]="{emptyMessage: 'Brak transakcji do wyświetlenia...', totalMessage: 'wszystkich'}">

            <ngx-datatable-column name="Typ" [maxWidth]='100' [minWidth]="40" [flexGrow]='1' [resizeable]="false" prop="type">
              <ng-template let-row="row" ngx-datatable-cell-template>
                <div class="transfer-type-icon" [title]="row.type | transactionTypeName"
                  [style.backgroundColor]="row.type | transactionTypeColor"></div>
              </ng-template>
            </ngx-datatable-column>

            <ngx-datatable-column name="Data" [flexGrow]="1" [resizeable]="false" prop="transactionDate">
              <ng-template let-row="row" ngx-datatable-cell-template>
                {{ row.transactionDate | date}}
              </ng-template>
            </ngx-datatable-column>

            <ngx-datatable-column name="Nazwa" [flexGrow]="1" [resizeable]="false" prop="name">
              <ng-template let-row="row" ngx-datatable-cell-template>
                {{ row.name }}
              </ng-template>
            </ngx-datatable-column>

            <ngx-datatable-column name="Konto" [flexGrow]="1" [resizeable]="false" prop="data" [comparator]="accountSortingComparator">
              <ng-template let-row="row" ngx-datatable-cell-template>
                {{ row.sourceAccountId | gridAccountName:row.targetAccountId:accounts }}
              </ng-template>
            </ngx-datatable-column>

            <ngx-datatable-column name="Kategoria" [flexGrow]="1" [resizeable]="false" prop="category" [comparator]="categorySortingComparator">
              <ng-template let-row="row" ngx-datatable-cell-template>
                {{ row.categoryId | categoryName:categories}}
              </ng-template>
            </ngx-datatable-column>

            <ngx-datatable-column name="Kwota" [headerClass]="'align-right'" [minWidth]="125" [maxWidth]="125"
              [resizeable]="false" prop="value">
              <ng-template let-row="row" ngx-datatable-cell-template>
                <div class="align-right">{{ row.value | currency}}</div>
              </ng-template>
            </ngx-datatable-column>
          </ngx-datatable>
        </div>
      </div>

      <div class="manage-transactions-buttons">
        <button mat-raised-button color="primary" type="button" title="Dodaj transakcję" (click)="addTransaction()">
          <mat-icon>add</mat-icon>
        </button>
      </div>
    </div>
  </div>
</div>