<div class="center-page">
  <div class="transactions-page-wrapper">
    <div *ngIf="showPage && accounts && ($items | async ) as transactions" class="transactions-cards-wrapper"
      [@showHideMainPage]>
      <mat-form-field class="filter-input">
        <mat-label>Filter</mat-label>
        <input matInput (keyup)="filterDatatable($event)" placeholder="Ex. Mia" #input autocomplete="off" autocorrect="off">
      </mat-form-field>

      <div class="items-wrapper">
        <div class="transactions-table">
          <ngx-datatable class="material" [rows]="transactions" [columnMode]="ColumnMode.flex"
            [sortType]="SortType.multi" [sorts]="[{prop: 'data.transactionDate', dir: 'desc'}]" [headerHeight]="50"
            [footerHeight]="50" [rowHeight]="'auto'" (activate)="editTransaction($event)"
            [messages]="{emptyMessage: 'Brak transakcji do wyświetlenia...', totalMessage: 'wszystkich'}">

            <ngx-datatable-column name="Lp." [maxWidth]='70' [resizeable]="false" [sortable]="false">
              <ng-template let-rowIndex="rowIndex" ngx-datatable-cell-template>
                {{ rowIndex + 1 }}
              </ng-template>
            </ngx-datatable-column>

            <ngx-datatable-column name="Data" [flexGrow]="1" [resizeable]="false" prop="data.transactionDate">
              <ng-template let-row="row" ngx-datatable-cell-template>
                {{ row.data.transactionDate | date}}
              </ng-template>
            </ngx-datatable-column>

            <ngx-datatable-column name="Nazwa" [flexGrow]="1" [resizeable]="false" prop="data.name">
              <ng-template let-row="row" ngx-datatable-cell-template>
                {{ row.data.name }}
              </ng-template>
            </ngx-datatable-column>

            <ngx-datatable-column name="Konto" [flexGrow]="1" [resizeable]="false" [sortable]="false">
              <ng-template let-row="row" ngx-datatable-cell-template>
                {{ row.data.sourceAccount | gridAccountName:row.data.targetAccount:accounts }}
              </ng-template>
            </ngx-datatable-column>

            <ngx-datatable-column name="Kategoria" [flexGrow]="1" [resizeable]="false" [sortable]="false">
              <ng-template let-row="row" ngx-datatable-cell-template>
                {{ row.data.category | categoryName:categories}}
              </ng-template>
            </ngx-datatable-column>

            <ngx-datatable-column name="Kwota" [headerClass]="'align-right'" [maxWidth]="150" [flexGrow]="1" [resizeable]="false" prop="data.value">
              <ng-template let-row="row" ngx-datatable-cell-template>
                <div class="align-right">{{ row.data.value | currency:'PLN':'symbol-narrow'}}</div>
              </ng-template>
            </ngx-datatable-column>
          </ngx-datatable>
        </div>
      </div>

      <div class="manage-transactions-buttons">
        <button mat-raised-button color="primary" type="button" title="Dodaj transakcję" (click)="addTransaction()">
          <mat-icon>add</mat-icon>
        </button>
      </div>
    </div>
  </div>
</div>