<div class="center-page">
  <ng-scrollbar>
    <div class="full-screen-page-wrapper">
      <div *ngIf="showPage && (items$ | async); let items" class="full-screen-page" [@showHideMainPage]>
        <div class="all-accounts-balance">
          {{ items | sumValue | currency:'PLN':'symbol-narrow'}}
        </div>

        <div class="items-wrapper">
          <div class="items">
            <div *ngFor="let item of items" class="item" [ngStyle]="{'background': item.data.color}">
              <div>
                <div class="account-name">
                  {{ item.data.name }}
                </div>
                <div class="account-type">
                  {{item.data.type | accountType | uppercase}}
                </div>
              </div>
              <div class="account-balance">
                {{ (item.data.debtType === DebtTypes.BorrowedFromSomeone ? '-' : "") + (item.data.balance |
                currency:'PLN':'symbol-narrow')}}
              </div>
              <div class="action-buttons">
                <button mat-raised-button color="primary" type="button" title="Usuń konto"
                  (click)="removeAccount(item.key, item.data.name)">
                  <mat-icon>delete</mat-icon>
                </button>
                <button mat-raised-button color="primary" type="button" title="Edytuj konto"
                  (click)="editAccount(item.key)">
                  <mat-icon>edit</mat-icon>
                </button>
                <button mat-raised-button color="primary" type="button" title="Dodaj transakcję"
                  (click)="addTransaction(item.key)">
                  <mat-icon>add</mat-icon>
                </button>
              </div>
            </div>
            <div *ngIf="items.length === 0">No results, try clearing filters</div>
          </div>

          <div class="manage-accounts-buttons">
            <button mat-raised-button color="primary" type="button" title="Dodaj konto" (click)="addAccount()">
              <mat-icon>add</mat-icon>
            </button>
            <button mat-raised-button color="primary" type="button" title="Przenieś środki" (click)="addTransferTransaction()">
              <mat-icon>sync_alt</mat-icon>
            </button>
          </div>

        </div>
      </div>
    </div>
  </ng-scrollbar>
</div>