<div class="center-page">
  <ng-scrollbar>
    <div class="full-screen-page-wrapper">
      <div *ngIf="showPage && ($accounts | async); let accounts" class="full-screen-page" [@showHideMainPage]>
        <div class="all-accounts-balance">
          {{ accounts | sumValue | currency}}
        </div>

        <div class="items-wrapper">
          <div class="items">
            <div *ngFor="let item of accounts" class="item" [ngStyle]="{'background': item.color}">
              <div>
                <div class="account-name">
                  {{ item.name }}
                </div>
                <div class="account-type">
                  {{item.type | accountType | uppercase}}
                </div>
              </div>
              <div class="account-balance">
                {{ (item.debtType === DebtTypes.BorrowedFromSomeone ? '-' : "") + (item.balance |
                currency)}}
              </div>
              <div class="action-buttons">
                <button mat-raised-button color="primary" type="button" title="Usuń konto"
                  (click)="removeAccount(item.id, item.name)">
                  <mat-icon>delete</mat-icon>
                </button>
                <button mat-raised-button color="primary" type="button" title="Edytuj konto"
                  (click)="editAccount(item.id)">
                  <mat-icon>edit</mat-icon>
                </button>
                <button mat-raised-button color="primary" type="button" title="Dodaj transakcję"
                  (click)="addTransaction(item.id)">
                  <mat-icon>add</mat-icon>
                </button>
              </div>
            </div>
            <div *ngIf="accounts.length === 0" class="no-items-info">Brak wyników<br>dodaj pierwsze konto!</div>
          </div>

          <div class="manage-accounts-buttons">
            <button mat-raised-button color="primary" type="button" title="Dodaj konto" (click)="addAccount()">
              <mat-icon>add</mat-icon>
            </button>
            <button mat-raised-button color="primary" type="button" title="Przenieś środki" (click)="addTransferTransaction()">
              <mat-icon>sync_alt</mat-icon>
            </button>
          </div>

        </div>
      </div>
    </div>
  </ng-scrollbar>
</div>