<mat-form-field appearance="outline" class="bottom-margin mat-form-field-should-float">
    <mat-label>Data transakcji</mat-label>
        <mat-button-toggle-group class="date-group" name="dates" aria-label="dates">
            <mat-button-toggle (click)="setYesterdayDate()">Wczoraj</mat-button-toggle>
            <mat-button-toggle (click)="setTodayDate()">Dzisiaj</mat-button-toggle>
            <mat-button-toggle (click)="datePicker.open()">{{date | date}}<mat-icon class="date-icon">event</mat-icon></mat-button-toggle>
          </mat-button-toggle-group>
          
            <input matInput hidden [matDatepicker]="datePicker" name="transactionDate" [value]="date"
                (dateChange)="onChange($event)" readonly required>
            <mat-datepicker touchUi #datePicker></mat-datepicker>
</mat-form-field>