@import "style-variables";

.full-screen-view {
  &.overview-panel-container {
    border-radius: 0 !important;
    height: 100% !important;
    width: 100% !important;
    transition: height 0.2s ease-in, width 0.2s ease-in;
  }

  .sidenav-container {
    border-radius: 0 !important;
    transition: all 0.5s;
  }
}

.slide-toggle {
  position: absolute;
  bottom: 60px;
  left: 12px;
}

.logout-button {
  position: absolute;
  bottom: 10px;
  left: 58px;
}

.active {
  background-color: mat-color($primary)!important;
  color: white;
}

.sidenav-container {
  height: 100%;
  width: 100%;
  border-radius: 15px;
  background: transparent;
  transition: border-radius 0.5s;
}

.sidenav {
  width: 200px;
  border: none;
}

.sidenav .mat-toolbar {
  background: inherit;
}

.mat-toolbar.mat-primary {
  position: sticky;
  top: 0;
  z-index: 1;
}

.sidenav-content {
  background: darkgray;
  // background: mat-color($primary);
  // display: flex;
  // justify-content: center;
  align-items: center;
  color: white;
  font-size: x-large;
  height: calc(100% - 55px);
  // padding: 20px;
  overflow: auto;
}

.login-content {
  background: white;
  height: 100%;
}

.overview-toolbar {
  height: 55px;
  background: white;
  text-align: center;
}

.bg-image {
  background-image: url(../assets/images/bg-image-small.jpg);
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  width: 100%;
  height: 100%;
  filter: brightness(0.7);
}

.centered-content {
  position: absolute;
  top: 0;
  bottom: 0;
  z-index: 2;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
}

.overview-panel-container {
  position: relative;
  display: flex;
  width: 1400px;
  height: 800px;
  box-shadow: 0 0 50px -15px black;
  border-radius: 15px;
  transition: height 0.2s ease-in, width 0.2s ease-in;
}

.login-panel-container {
  position: relative;
  display: flex;
  width: 500px;
  height: 385px;
  box-shadow: 0 0 50px -15px black;
  border-radius: 15px;
}

.spacer {
  flex: 1 1 auto;
}
