<div class="bg-image"></div>
<div class="centered-content">
  <div class="overview-panel-container">
    <mat-sidenav-container class="sidenav-container">
      <mat-sidenav #drawer class="sidenav" [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'"
        [mode]="(isHandset$ | async) ? 'over' : 'side'" [opened]="(isHandset$ | async) === false">
        <mat-toolbar>Money Manager</mat-toolbar>
        <mat-nav-list>
          <a mat-list-item routerLink="/overview" routerLinkActive="active">Link 1</a>
          <a mat-list-item routerLink="/cards" routerLinkActive="active">Link 2</a>
          <a mat-list-item href="#">Link 3</a>
        </mat-nav-list>
      </mat-sidenav>
      <mat-sidenav-content>
        <mat-toolbar class="overview-toolbar">
          <button type="button" aria-label="Toggle sidenav" mat-icon-button (click)="drawer.toggle()"
            *ngIf="isHandset$ | async">
            <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
          </button>
          <!-- <span>money-manager</span> -->
          <span class="spacer"></span>
          <button mat-icon-button>
            <mat-icon>add</mat-icon>
          </button>
        </mat-toolbar>
        <div class="sidenav-content">
          <!-- Add Content Here -->
          <router-outlet></router-outlet>
        </div>
      </mat-sidenav-content>
    </mat-sidenav-container>
  </div>
</div>