<div class="center-page">
    <ng-scrollbar>
        <div class="full-screen-form-wrapper">
            <form *ngIf="showPage && transaction" class="full-screen-form" (submit)="addEditTransaction(transaction)"
                #transactionsAddForm="ngForm" [@showHideEditPage]>
                <div [@preventInitialChildAnimations]>
                    <div class="top-header">
                        <span class="header-text">{{!!itemKey ? 'Edytuj transakcję' : 'Dodaj transakcję'}}</span>
                        <button *ngIf="!!itemKey" type="button" mat-button color="primary"
                            (click)="removeTransaction()">
                            <mat-icon>delete</mat-icon>
                        </button>
                    </div>

                    <div class="transaction-type-picker">
                        <button *ngFor="let transactionType of transactionTypeList" disableRipple mat-raised-button
                            color="primary" type="button" (click)="transaction.type = transactionType.type"
                            [ngClass]="{'active': transaction.type == transactionType.type}">
                            <div class="icon-with-text">
                                <mat-icon>{{transactionType.icon}}</mat-icon>
                                <span>{{transactionType.name}}</span>
                            </div>
                        </button>
                    </div>

                    <div class="form-scroll-content">
                        <mat-form-field appearance="outline">
                            <mat-label>Nazwa</mat-label>
                            <input type="text" [(ngModel)]="transaction.name" name="transactionName" autocomplete="off"
                                autocorrect="off" matInput required>
                        </mat-form-field>

                        <mat-form-field appearance="outline">
                            <mat-label>Kwota</mat-label>
                            <input type="number" [(ngModel)]="transaction.value" name="transactionValue" matInput
                                required>
                        </mat-form-field>

                        <mat-form-field class="cursor-pointer" appearance="outline" (click)="pickCategory(transaction)">
                            <mat-label>Kategoria</mat-label>
                            <input type="text" [value]="$categoryName | async" name="categoryName" autocomplete="off"
                                autocorrect="off" matInput required readonly>
                        </mat-form-field>

                        <mat-form-field appearance="outline">
                            <mat-label>Opis</mat-label>
                            <input type="text" [(ngModel)]="transaction.description" name="transactionDescription"
                                autocomplete="off" autocorrect="off" matInput>
                        </mat-form-field>

                        <div *ngIf="transaction.type != TransactionTypes.Income" [@showHideFormField]>
                            <mat-form-field appearance="outline">
                                <mat-label>Konto źródłowe</mat-label>
                                <mat-select [(ngModel)]="transaction.sourceAccountId" name="transactionSourceAccount"
                                    required>
                                    <mat-option *ngFor="let item of accounts" [value]="item.id">
                                        {{item | accountNameWithBalance:(item.balance | currency)}}
                                    </mat-option>
                                </mat-select>
                            </mat-form-field>
                        </div>
                        <div *ngIf="transaction.type != TransactionTypes.Expense" [@showHideFormField]>
                            <mat-form-field appearance="outline">
                                <mat-label>Konto docelowe</mat-label>
                                <mat-select [(ngModel)]="transaction.targetAccountId" name="transactionTargetAccount"
                                    required>
                                    <mat-option *ngFor="let item of accounts" [value]="item.id">
                                        {{item | accountNameWithBalance:(item.balance | currency)}}
                                    </mat-option>
                                </mat-select>
                            </mat-form-field>
                        </div>

                        <div class="cursor-pointer" (click)="datePicker.open()">
                            <mat-form-field appearance="outline">
                                <mat-label>Data transakcji</mat-label>
                                <input matInput [matDatepicker]="datePicker" name="transactionDate"
                                    [(ngModel)]="transaction.transactionDate" readonly required>
                                <mat-datepicker-toggle matSuffix [for]="datePicker"></mat-datepicker-toggle>
                                <mat-datepicker touchUi #datePicker></mat-datepicker>
                            </mat-form-field>
                        </div>

                        <div *ngIf="transaction.type == TransactionTypes.Expense" [@showHideFormField]>
                            <mat-form-field appearance="outline">
                                <mat-label>Gwarancja (msc)</mat-label>
                                <input matInput type="number" min="0" step="1" name="transactionWarranty"
                                    [(ngModel)]="transaction.warrantyMonthNumber">
                            </mat-form-field>
                        </div>
<!--                         
                        <div class="form-group">
                            <label for="file">Choose File</label>
                            <input type="file" id="file" accept="image/*" (change)="uploadFile($event.target)">
                        </div>

                        <div>
                            <img style="height: 200px; width: 200px;" [src]="fileImage" alt="red dots"/>
                        </div> -->
                    </div>

                    <div class="modal-buttons">
                        <button mat-raised-button color="primary" type="button" (click)="closePanel()">Anuluj</button>
                        <button mat-raised-button color="primary" type="submit"
                            [disabled]="transactionsAddForm.invalid">
                            {{!!itemKey ? 'Zapisz' : 'Dodaj'}}</button>
                    </div>
                </div>

            </form>
        </div>
    </ng-scrollbar>
</div>