.search-categories {
    width: 80%;
    margin: 0 auto;
    mat-form-field {
        text-align: center!important;
    }
}

.categories-wrapper {
    display: flex;
    flex-wrap: wrap;
    width: 660px;
    gap: 2px;
    padding: 15px;
    height: 660px;
    align-content: flex-start;

    > div {
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 10px;
        flex-basis: 0;
        text-align: center;
        box-shadow: none;
        border-radius: 10px;
        transition: box-shadow 1s;
        flex-grow: 1;
        min-width: 22%;
        -webkit-user-select: none;
        user-select: none;
        height: 110px;

        &:hover {
            cursor: pointer;
            box-shadow: 0 0 16px 1px rgb(60 60 60 / 45%);
            transition: box-shadow 0.5s;
            mat-icon {
                opacity: 1 !important;
                transform: scale(1.2) translateY(-2px) !important;
                transition: transform 0.2s, opacity 0.2s;
            }
        }

        > div {
            word-break: break-all;
            white-space: nowrap;
            display: flex;
            flex-direction: column;
            justify-content: flex-start;
            margin: auto;
            align-items: center;
            mat-icon {
                font-size: 44px;
                width: 100%;
                margin-bottom: 36px;
                opacity: 0.6;
                transform: scale(1) translateY(0px);
                transition: transform 0.2s, opacity 0.2s;
            }
        }
    }
}
