<h1 mat-dialog-title>Wybierz kategorię</h1>
<div mat-dialog-content class="dialog-content">
    <div class="search-categories">
        <mat-form-field class="form-full-width" floatLabel="never">
            <mat-label>ZNAJDŹ KATEGORIĘ...</mat-label>
            <input matInput type="text" (keyup)="filterCategories($event)" #searchInput autocomplete="off" autocorrect="off">
        </mat-form-field>
    </div>
    <div *ngIf="!selectedParent || selectedParent?.children?.length == 0 || searchInput.value; else subcategories"
        class="categories-wrapper">
        <div *ngFor="let category of visibleCategories" (click)="onParentCategorySelect(category)"
            [ngStyle]="{'color': category.id == itemKey ? 'red' : 'black'}">
            <div>
                <mat-icon>{{category.icon ?? 'category'}}</mat-icon>{{category.name}}
            </div>
        </div>
    </div>

    <ng-template #subcategories>
        <div class="categories-wrapper">
            <div class="bounceIn" *ngFor="let child of selectedParent?.children" [mat-dialog-close]="child.id"
                [ngStyle]="{'color': child.id == itemKey ? 'red' : 'black'}">
                <div>
                    <mat-icon>category</mat-icon>{{child.name}}
                </div>
            </div>
        </div>
    </ng-template>
</div>
<div mat-dialog-actions>
    <button mat-button type="button" color="primary" (click)="onClose()">{{selectedParent ? 'Wróć' : 'Anuluj'}}</button>
</div>