<div style="height:100%;" gdAreas="header header | side content | footer footer" gdGap="16px" gdRows="auto auto auto"
    gdAreas.lt-md="header | side | content | footer" gdRows.lt-md="auto auto auto auto">
    <mat-card gdArea="header" style="min-height: 150px;">
        Header
    </mat-card>
    <mat-card gdArea="side" style="min-height: 150px;">
        Side
    </mat-card>
    <mat-card gdArea="content">
        Content
    </mat-card>
    <mat-card gdArea="footer" style="min-height: 150px;">
        Footer
    </mat-card>
</div>